set -euo pipefail

git checkout main
git pull origin main
git remote add upstream https://github.com/metacoq/metacoq || :
git fetch upstream
git stash
git merge upstream/main -m 'sync with `metacoq/metacoq`'
git add -A
git commit -m 'local edits after syncing with `metacoq/metacoq`' || :
git push -u origin main
git stash pop || :

nix flake update
use flake
